<nav class="navbar navbar-expand-lg bg-light custom-navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Event-Lille</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">{% trans %}
						Event
						{% endtrans %}</a>
				</li>
			</ul>

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_logout' ) }} ">{% trans %}
							Logout
							{% endtrans %}</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_login' ) }} ">{% trans %}
							Log in
							{% endtrans %}</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
</nav>